body {
  background-image:url('image.jpg');
background-repeat: no-repeat;
background-size: cover;
color: #fff;
font-family: 'Helvetica Neue','Helvetica','Arial', sans-serif;
}

.bg-gradient {
    position: fixed;
    width: 1000px;
    height: 1000px;
    top: 50%;
    left: 50%;
    z-index: -1;
    margin: -500px 0 0 -500px;
    background: url('../images/bg-gradient.png') no-repeat center;
}

.container {
    text-align: center;
    margin: 0 auto;
    width: 800px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -200px 0 0 -400px;
}
    
h1,
h2 {
    margin: 0;
    color: #eee;
    -moz-text-shadow: 0 3px 3px #000000;
    -webkit-text-shadow: 0 3px 3px #000000;
    text-shadow: 0 3px 3px #000000;
}
    
h1 {
    font-size: 60px;
    margin: 0 0 10px;
    line-height: 1;
}

h2 {
    font-size: 18px;
}

#CDT {
    font-size: 60px;
    color: #eee;
    margin: 70px 0 100px;
    font-weight: bold;
}

#CDT .number-wrapper {
    margin: 10px;
    -moz-box-shadow: 0 5px 8px #000000;
    -webkit-box-shadow: 0 5px 8px #000000;
    box-shadow: 0 5px 8px #000000;
    position: relative;
}

#CDT .number {
    display: inline-block;
    *display: inline;
    *zoom: 1;
   background: linear-gradient(rgba(0,0,50,0.5) , rgba(0,0,50,0.5));
    background: linear-gradient(rgba(0,0,50,0.5) , rgba(0,0,50,0.5));
    background: linear-gradient(rgba(0,0,50,0.5) , rgba(0,0,50,0.5));
    background: linear-gradient(rgba(0,0,50,0.5) , rgba(0,0,50,0.5));
    background: linear-gradient(rgba(0,0,50,0.5) , rgba(0,0,50,0.5));
    
}
       
#CDT .line {
    position: absolute;
    width: 100%;
    height: 1px;
    top: 52%;
    left: 0;
}
       
.caption {
   font-size: 12px;
   position: absolute;
   bottom: -30px;
   left: 0;
   text-align: center;
   width: 100%;
   color: #777;
}
