body {
    background:black;
    color: white;
    font-family: 'Oswald', sans-serif;
}

.container {
    text-align: center;
    margin: 0 auto;
    width: 800px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -200px 0 0 -400px;
}
    
h1 {
    margin: 0;
    color: white;
    -moz-text-shadow: 0 3px 3px #000000;
    -webkit-text-shadow: 0 3px 3px #000000;
    text-shadow: 0 3px 3px #000000;
}
    
h1 {
    font-size: 60px;
    margin: 0 0 10px;
    
}

#CDT {
    font-size: 60px;
    color: white;
    margin: 70px 0 100px;
    font-weight: bold;
}

#CDT .number-wrapper {
    margin: 10px;
    -moz-box-shadow: 0 5px 8px #000000;
    -webkit-box-shadow: 0 5px 8px #000000;
    box-shadow: 0 5px 8px #000000;
    position: relative;
}

#CDT .number {
    display: inline-block;
    background: #000
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    padding: 0 12px;
    height: 80px;
    line-height: 80px;
    text-align: center;
   
}
#CDT .line {
    position: absolute;
}    
.caption {
   font-size: 12px;
   position: absolute;
   bottom: -30px;
   left: 0;
   text-align: center;
   width: 100%;
   color: white;
} 
